{% extends "index.html" %}

    {% block judul %}
    {% endblock judul %}

    {% block isi1 %}

        <form method="POST" action="">
            <div class="form-group">
            <label for="name">Nama:</label>
            <input type="text" class="form-control" id="name" name="name" maxlength="30">
          </div>
          <div class="form-group">
            <label for="alamat">Alamat:</label>
            <input type="text" class="form-control" id="alamat" name="alamat" maxlength="40" placeholder="Prov, Kota/Kab, Kec, Desa, RT, RW">
          </div>
          <div class="form-group">
              <label for="nohp">No.Hp:</label>
              <input type="number" class="form-control" id="nohp" name="nohp" minlength="12" maxlength="15" placeholder="08xxxxxxxxxx">
          </div>
          <div class="form-group">
            <label for="Merek">Merek : </label>
            <select class="form-control" name="jenisin" >
                {% for row in jenis %}
                <option value="{{ ", ".join(row) }}">{{ ",".join(row) }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
              <label for="Hari">Jumlah Hari</label>
              <input type="number" class="form-control" id="hari" name="hari" min="1" step="1">
          </div>

          <button type="reset" class="btn btn-primary pull-right">Reset</button>
          <button type="submit" class="btn btn-primary pull-right">Rental</button>
        </form>

    {% endblock isi1 %}

    {% block isi2 %}
    {% endblock isi2 %}
